In [1]:
#importing pandas Library and the csv file
import pandas as pd
import numpy as np

acquisition = pd.read_csv('Acquisition.csv')

In [2]:
acquisition.columns

Index(['Sales Channel', 'Created By: Full Name', 'Owned By: Full Name',
       'Manager', 'Sales Agent Name', 'Sales Agent Sub Channel',
       'Product Name', 'Price Book: Price Book Name', 'Contract Id',
       'Created Date', 'Customer: Account Name', 'Status', 'System ID',
       'Subtype', 'Panel: Component Id', 'Panel 2: Component Id',
       'Full Initial Payment', 'Initial Rate Plan', 'Seller State',
       'Unmanned Store: Full Name', 'Store Name'],
      dtype='object')

In [3]:
#Appying filter to remove the Unrequired rows in the data (Cleaning)
acquisition = acquisition[acquisition['Created By: Full Name'] != 'Oliver Butler']

In [4]:
acquisition['Price Book Use'] = None

In [5]:
acquisition.count()

Sales Channel                  189
Created By: Full Name          189
Owned By: Full Name            189
Manager                        189
Sales Agent Name               189
Sales Agent Sub Channel        189
Product Name                   189
Price Book: Price Book Name    189
Contract Id                    189
Created Date                   189
Customer: Account Name         189
Status                         189
System ID                      189
Subtype                        189
Panel: Component Id            189
Panel 2: Component Id            0
Full Initial Payment           189
Initial Rate Plan              189
Seller State                   189
Unmanned Store: Full Name        0
Store Name                     189
Price Book Use                   0
dtype: int64

In [6]:
conditions =[
    acquisition['Price Book: Price Book Name'].str.contains('NWO', na=False),
    acquisition['Price Book: Price Book Name'].str.contains('BULK', na=False),
    acquisition['Price Book: Price Book Name'].str.contains('MTN-NG', na=False),
    acquisition['Price Book: Price Book Name'].str.contains('Re-manufactured Classic Employees 2', na=False),
    acquisition['Price Book: Price Book Name'].str.contains('Upsell Promo by Staff', na=False),
    acquisition['Price Book: Price Book Name'].str.contains('Upsell Promo', na=False)
    
]

Values = [
    np.repeat('LCP', len(acquisition)),
    np.repeat('Retail Channel', len(acquisition)),
    np.repeat('MTN Service Centers', len(acquisition)),
    np.repeat('Staff refurbished', len(acquisition)),
    np.repeat('Staff Upsell Promo', len(acquisition)),
    np.repeat('Upsell Promo', len(acquisition))
]

acquisition['Price Book Use'] = np.select(conditions, Values, default='Corporate')

In [7]:
acquisition.count()

Sales Channel                  189
Created By: Full Name          189
Owned By: Full Name            189
Manager                        189
Sales Agent Name               189
Sales Agent Sub Channel        189
Product Name                   189
Price Book: Price Book Name    189
Contract Id                    189
Created Date                   189
Customer: Account Name         189
Status                         189
System ID                      189
Subtype                        189
Panel: Component Id            189
Panel 2: Component Id            0
Full Initial Payment           189
Initial Rate Plan              189
Seller State                   189
Unmanned Store: Full Name        0
Store Name                     189
Price Book Use                 189
dtype: int64

In [8]:
#Applying Group By
acquisition = acquisition.groupby(acquisition['Price Book Use']).count()

In [9]:
acquisition

,Sales Channel,Created By: Full Name,Owned By: Full Name,Manager,Sales Agent Name,Sales Agent Sub Channel,Product Name,Price Book: Price Book Name,Contract Id,Created Date,...,Status,System ID,Subtype,Panel: Component Id,Panel 2: Component Id,Full Initial Payment,Initial Rate Plan,Seller State,Unmanned Store: Full Name,Store Name
Price Book Use,,,,,,,,,,,,,,,,,,,,,
LCP,98,98,98,98,98,98,98,98,98,98,...,98,98,98,98,0,98,98,98,0,98
MTN Service Centers,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,0,21,21,21,0,21
Retail Channel,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,0,24,24,24,0,24
Staff Upsell Promo,38,38,38,38,38,38,38,38,38,38,...,38,38,38,38,0,38,38,38,0,38
Staff refurbished,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,0,4,4,4,0,4
Upsell Promo,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,0,4,4,4,0,4

In [10]:
#acquisition = acquisition[['Price Book Use','Contract Id']]

In [11]:
acquisition.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, LCP to Upsell Promo
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sales Channel                6 non-null      int64
 1   Created By: Full Name        6 non-null      int64
 2   Owned By: Full Name          6 non-null      int64
 3   Manager                      6 non-null      int64
 4   Sales Agent Name             6 non-null      int64
 5   Sales Agent Sub Channel      6 non-null      int64
 6   Product Name                 6 non-null      int64
 7   Price Book: Price Book Name  6 non-null      int64
 8   Contract Id                  6 non-null      int64
 9   Created Date                 6 non-null      int64
 10  Customer: Account Name       6 non-null      int64
 11  Status                       6 non-null      int64
 12  System ID                    6 non-null      int64
 13  Subtype                      6 non-null      int64
 14  Panel: Component Id          6 non-null      int64
 15  Panel 2: Component Id        6 non-null      int64
 16  Full Initial Payment         6 non-null      int64
 17  Initial Rate Plan            6 non-null      int64
 18  Seller State                 6 non-null      int64
 19  Unmanned Store: Full Name    6 non-null      int64
 20  Store Name                   6 non-null      int64
dtypes: int64(21)
memory usage: 1.0+ KB

In [12]:
#Removing the unrequired columns in the data (Cleaning)
acquisition.drop(['Store Name','Sales Agent Name','Sales Channel','Subtype','Created By: Full Name','Product Name','Created Date','Customer: Account Name','Manager','System ID','Unmanned Store: Full Name','Status','Sales Agent Sub Channel','Owned By: Full Name','Panel: Component Id','Full Initial Payment','Initial Rate Plan','Seller State','Panel 2: Component Id','Price Book: Price Book Name'], axis=1, inplace = True)

In [13]:
acquisition = acquisition.sort_values('Contract Id', ascending = True)

In [14]:
acquisition

                     Contract Id
Price Book Use
Staff refurbished              4
Upsell Promo                   4
MTN Service Centers           21
Retail Channel                24
Staff Upsell Promo            38
LCP                           98

In [15]:
acquisition.to_excel('Month_acquisition.xlsx')